.container{
    width: 990px;
    .title{
        height: 46px;
        border-bottom: 2px solid #e6e6e6;
        position: relative;
        .title-list{
            width: 480px;
            margin: 0 auto;
            @include clear-float();
            li{
                color: #3e3e3e;
                border-bottom: 2px solid #ff4700;
                float: left;
                width: 170px;
                padding-left: 70px;
                height: 46px;
                line-height: 46px;
                font-size: 16px;
                font-weight: 700;
                &:last-of-type{
                    i{
                        background-image: url('https://assets.alicdn.com/g/vip/register/2.9.7/xcommon/images/ico-circle2.png');
                    }
                    color: #999;
                    border-color:transparent;
                }
                i{
                    display: inline-block;
                    background-image:url('https://img.alicdn.com/tfs/TB15xpqRpXXXXcyXFXXXXXXXXXX-24-24.png');
                    margin-right: 5px;
                    width: 24px;
                    height: 24px;
                    text-align: center;
                    font-style: normal;
                    line-height: 24px;
                    font-size: 14px;
                    font-weight: 700;
                    color: #FFF;
                }
            }
        }
    }
    .body-box{
        padding:50px 0;
        width: 720px;
        margin: 0 auto;
        font-size: 14px;
        .body{
            padding:10px 0;
            font-size: 14px;
            @include clear-float();
            .span-title{
                 font: 400 12px/1.6 arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
                font-weight: 700;
                width: 240px;
                display: inline-block;
                height: 37px;
                line-height: 37px;
                padding: 10px 0 10px 0;
                text-align: right;
                font-size: 14px;
                margin-right:20px ;
            }
            .span-mass{
                font: 400 12px/1.6 arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
                height: 37px;
                color: #3c3c3c;
                display: inline-block;
                line-height: 37px;
                padding: 10px 0 10px 0px;
                text-align: right;
                font-size: 14px;
                
            }
            .span-stitle{
                font: 400 12px/1.6 arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
                display: inline-block;
                margin-right: 20px;
                width: 240px;
                height: 37px;
                line-height: 37px;
                padding: 10px 0 10px 0;
                text-align: right;
                font-size: 14px;
            }
            .input-box{
                position: relative;
            }
            input{
                border: 1px solid #dedede;
                width: 202px;
                height: 17px;
                line-height: 17px;
                padding: 9px;
                font-size: 14px;
                margin: 10px 0 10px 0;
                
            }
        }
        .msg{
            height: 57px;
            position: absolute;
            top: 0;
            left: 510px;
            display: none;
            i{
                display: inline;
                margin-left: -18px;
                margin-top: -1px;
                font-size: 16px;
                line-height: 57px;
            }
            span{
                font-size: 12px;
                color: #3e3e3e;
                line-height: 57px;
            }
        }
        #submit{
            background: #ff0036;
            color: #FFF;
            height: 36px;
            line-height: 36px;
            padding: 0 20px;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            border: 0;
            border-radius: 3px;
            cursor: pointer;
            width: 180px;
            margin:30px 260px;
        }
        .pass{
            color: #6bc827 !important;
        }
        .error{
            color: #ff0036!important;
        }
        .hint{
            color: #00bfff!important;
        }
    }
}
